:root{
    --a: #ffb876;

    --red: #e63946;
    --white: #e2f3dd;
    --green: #a8dadc;
    --blue: #457b9d;
    --darkBlue: #1d3557;
    --softGray: #f0f0f0;
    --strongGray: #dfdfdf;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    margin: 0 140px;
    margin-top: -10px;

    box-sizing:border-box;
}
.logoHolder{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#logoImage{
    height: 20px;
    margin-right: 5px;
}
.controls{
    margin-bottom: 20px;
    text-align: center;
}
.controlButton{
    background-color: var(--softGray);
    color: rgb(56, 56, 56);
    border: none;
    border-radius: 5px;
    padding:  6px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.08s;
    margin: 5px 3px;
}
.controlButton:hover{
    background-color: var(--strongGray);
}

.banner{
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 15px 20px;
    text-align: right;
    color: white;
    background: var(--blue)

}
.banner h1{
    margin: 0;
}
.forms{
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
    margin-bottom: 40px;
}
.inputForm{
    text-align: left;
    position: relative;
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    overflow-x: hide;
    max-height: 150px;
    word-break: break-all;
    padding: 10px 8px;
    background: var(--softGray);
    margin: 5px;
    font-size: 15px;
}
.inputBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
select{
    appearance: none;

}

.formHolder{
    display: none;
    padding-right: 44px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: var(--softGray)
}
.clear{
    position: absolute;
    right: -40px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    border: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.clear img{
    width: inherit
}
.qrHolder{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}
.settings{
    position: relative;
    border-radius: 22px;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: min-content;
    transition: 0.3s;
    background-color: #fff;
}
.settings:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.01);
}
.option{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin: 5px auto;
    background-color: #264653;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.option:hover{
    transform: scale(1.03);
}
.option.colorHolder{
    overflow: hidden;
    border: solid 1.5px var(--strongGray);
}
.changedOption{
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: var(--red);
    border-radius: 100%;
    top:21px;
    right: 68px;
    opacity: 0;
    pointer-events: none;
}
#qrBgColor, #qrFillColor{
    width: 100px;
    height: 100px;
    position: absolute;
    right: -28px;
    bottom: -16px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}
.option-menu{
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 180px;
    height: 213px;
    overflow-y: scroll;
    flex-wrap: wrap;
    background-color: var(--softGray);
    padding: 5px;
    border-radius: 20px;
    right:65px;
    top: -30%;
    transition: 0.3s;
    backdrop-filter: blur(7px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

#logoBtn{
    background-color: unset;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/logos/github.png'); 
}
#logoBtn:focus  #logoMenu, 
#logoBtn:active  #logoMenu
{ 
    opacity: 1;
    pointer-events:inherit;
} 

.option-menu::-webkit-scrollbar { width: 0; }
#slider{
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: 50px;
    background-color: var(--softGray);
    padding: 0px 10px ;
    border-radius: 20px;
    right:14px;
    top: 50%;
    transition: 0.3s;
    transform: rotate(-90deg);
}

#sliderBtn{
    background-color: unset;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icons/tilda.png');
    border: solid 1.5px var(--strongGray);

}
#sliderBtn:focus  #slider, 
#sliderBtn:active  #slider, 
#slider:hover 
{ 
    opacity: 1;
    pointer-events:inherit;
} 
.option-item, .option-delete, #addOwnLogoBtn{
    height: 45px;
    width: 45px;
    margin: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}
#addOwnLogoBtn{
    height: 43px;
    width: 43px;
}
.image-upload>input {
    display: none;
}
#deleteLogo{
    display: none;
}
.option-item:hover, .option-delete:hover{
    filter: brightness(0.8);
}
.option-item img{
    height: inherit;
}
.option-delete img{
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#deleteAll{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-image: url('../images/icons/delete.png');
    left:0;
    right: 0;
    bottom:-40px;
    margin: auto;
    cursor: pointer;
}

#myQRCode img{
    height: 280px ;
    width: 280px ;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
}
#myQRCode img:hover{
    transform: scale(1.003);
    box-shadow: rgba(151, 151, 164, 0.2) 0px 7px 29px 0px;

}
.save{
    height: 23px;
    width: 23px;
    background-size: contain;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 5px solid white;
    border-radius: 100%;
    padding: 8px;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.2s;
}

.save:hover{
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#copyPng{
    background-image: url('../images/icons/copyIcon.png');
}
#printPng{
    background-image: url('../images/icons/printer.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.save a img{
    height: 100%;
    width: 100%;
}
.goDownSection{
    margin-top: 60px;
    position: relative;
    height:170px;
}
.goDownBtn{
    position: absolute;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
    background-image: url('../images/icons/down.png');
    transition: 0.1s;
}
.goDownBtn:hover{
    transform: translateY(3px);
}
#copyAlert{
    z-index: 1000;
    pointer-events: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    background-color:#1fd081;
    border-radius: 10px;
    position: fixed;
    bottom:25px;
    margin: auto;
    left:0;
    right:0;
    opacity: 0;
    transition: 2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.alertAnimation{
    animation-duration: 2s;
    animation-name: slidein;
}


@keyframes slidein {
  0% {
    transform:translatey(800%);

  }
  30%{
    transform:translatey(0%);
    opacity: 1;
  }
  70%{
    transform:translatey(0%);
    opacity: 1;
  }
  to {
    transform:translatey(800%);
    opacity: 0;
  }
}
.infoSection{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;font-size: 15px;
}
.infoCard{
    padding: 20px 30px;
    border-radius: 15px;
    max-width: 300px;
    background-color: var(--blue);
    color: white;
    margin: 10px;
}
.infoCard p{
    margin: 0;
}
.infoCard h2{
    margin: 0px 0px 5px 0px;
}
.info1{
    color: black;
    max-width: 350px;
    background-color: var(--white);
}
.info2{
    color: black;
    max-width: 250px;
    background-color: var(--red);
}
.info3{
    color: black;
    max-width: 390px;
    background-color: var(--a);
}
.donateCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#donateButton{
    transform: scale(0.9);
    justify-self: center;
    transition: 0.1s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 40px;
    background-color: var(--blue);
    color: white;
    font-weight: 300;
}
.info3 a{
    color:  #9012ff;

}
 a{
    color: var(--a);
    transition: 0.1s;
}
a:hover{
    color: #9dfe9b
}
@media screen and (max-width: 700px) {
    .main{
        margin: 0 40px;
    }
}
@media screen and (max-width: 500px) {
    .main {
        margin: 0 11px;
        margin-top: -12px;

    }
    .banner{
        height: 79px;
        margin-bottom: 10px;
    }
    .banner p{
        font-size: 12px;
        margin: 0;
    }
    .banner h1{
        font-size: 20px;
    }
    #myQRCode img{
        height: 200px ;
        width: 200px ;
    }
    .forms{
        margin-bottom: 18px;
    }
    .inputForm{
        padding: 8px;
    }
    .qrHolder {
        flex-direction: column;
    }
    .settings{
        transform: rotate(-90deg);
        margin: -65px;
        box-shadow: rgba(100, 100, 111, 0.2) -7px 0px 29px 0px;

    }
    .settings:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 13px 0px 27px -5px, rgba(0, 0, 0, 0.3) -8px 0px 16px -8px;
        transform: scale(1.01) rotate(-90deg);;
    }
    .option{
        transform: rotate(90deg);
        height: 39px;
        width: 39px;
    }
    .option-delete, .option-item, #addOwnLogoBtn{
        height: 35px;
        width: 35px;
    }
    #deleteAll {
        bottom: -30px;

    }
    .option-menu{
        z-index: 10000;
        width: 183px;
        left: -9px;
        top: 55px;
        height: 184px;
    }
    .option:hover{
        transform: scale(1.03)  rotate(90deg);
    }
    #sliderBtn{
        position: static;
    }
    #slider{
        height: 44px;
        background-color: var(--softGray);
        right: 49px;
        top: 45px;
    }
    #deleteAll{
        transform: rotate(90deg);
    }
    .saveBlock{
        transform: rotate(90deg);
        margin: -50px;

    }
    .save{
        width: 20px;
        height: 20px;
        transform: rotate(-90deg);
    }
    .save:hover{
        transform: scale(1.01)  rotate(-90deg);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .goDownSection{
        display: none;
    }
    .infoSection{
        font-size: 14px;
    }
    .infoCard{
        padding: 10px 20px;
        margin: 7px;
    }
    .infoCard h2{
        font-size: 19px;
    }
    .info1, .info2, .info3, .infoCard{
        max-width: unset;
    }
    #donateButton{
        transform: scale(0.9);

        margin: 7px auto;
    }
}
